@model HotelModel.Models.CheckOut

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckOut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckIn.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoAdults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoAdults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
